################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogIn Screeen/.vs/LogIn Screeen/FileContentIndex/7e1dfd59-afd5-4ef2-b34f-d1de406e2be1.vsidx
/LogIn Screeen/.vs/LogIn Screeen/FileContentIndex/82308f37-eb86-4112-803f-dc8fe3029f8a.vsidx
