################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogIn Screeen/.vs/LogIn Screeen/FileContentIndex/7e1dfd59-afd5-4ef2-b34f-d1de406e2be1.vsidx
/LogIn Screeen/.vs/LogIn Screeen/FileContentIndex/82308f37-eb86-4112-803f-dc8fe3029f8a.vsidx
/Address Book/.vs/Address Book/FileContentIndex/32cccacc-6254-4db4-81fd-4df827843dec.vsidx
/Address Book/.vs/Address Book/FileContentIndex/5e67ed07-955f-43db-8f04-4397b21d5543.vsidx
/Address Book/.vs/Address Book/FileContentIndex/629f9050-413c-4ffb-bda8-dfd361b90b99.vsidx
/Address Book/.vs/Address Book/FileContentIndex/9bf60336-dae9-4d99-8718-3d4b1ea1672a.vsidx
/Address Book/.vs/Address Book/FileContentIndex/ffbb65cf-c7de-4c8f-a434-b1f0b0cd7222.vsidx
/Drawing Canvas/.vs/Drawing Canvas/FileContentIndex/3fe3a8ac-8acb-4d2f-ab6b-5509688f7fdb.vsidx
/Drawing Canvas/.vs/Drawing Canvas/FileContentIndex/0cee34ea-af9c-4665-b633-d81800480f06.vsidx
